/* --------------------------------
ARTICLE
-------------------------------- */
@import "compass/css3";

.container.articleDetail{
    padding-left: 0px;
    padding-right: 0px;
}

.articleList{
    .date{
        position: absolute;
        right: 0;
        background-color: rgba(255,255,255, .2);
        margin-right: 15px;
        margin-top: -30px;
        color: #f96251;
        padding: 5px;
    }
}

$iconColor: #fff;
$color: #999;
.search {
    width: 100%;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-family: 'FontAwesome';
        content: '\f002';
        background: $color;
        text-align: center;
        color: $iconColor;
        border-radius: 5px;
        -webkit-font-smoothing: subpixel-antialiased;
        font-smooth: always;
    }
}
.searchTerm {
    @include box-sizing(border-box);
    width: 100%;
    border: 5px solid $color;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
}
.searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.originalPost{
    a:hover{
        color: #6CB5AC;
    }
}

.whiteWrapper{
    background-color: #fff;
    padding: 20px 20px 50px 20px;
    box-shadow: 10px 0px 15px -5px rgba(0, 0, 0, 0.15), -10px 0px 15px -5px rgba(0, 0, 0, 0.15);
    h1, h2{
        font-family: font9;
        margin-bottom: 30px;
    }
    p, ol, ul {
        font-family: 'Crimson Text', 'Times New Roman', 'Times', serif;
        font-family: questa_granderegular;
        line-height: 140%;
        margin-bottom: 0.8em;
        font-size: 1.4em;
    }
    h1, h2, h3, p, ol, ul, li, p span {
        color: #444;
    }
    ol li{
        margin-bottom: 5px;
    }
    ul ul{
        font-size: 1em;
        margin-bottom: 5px;
    }
    blockquote{
        p{
            font-size: 1em;
            font-family: font4;
            color: #777;
        }
    }
}

.view {
    position: relative;
    /*width: 400px;*/
    height: 200px;
    overflow: hidden;

    .inner {
        width: 100%;
        height: 200%;
        -moz-transition: margin-top 0.7s;
        -o-transition: margin-top 0.7s;
        -webkit-transition: margin-top 0.7s;
        transition: margin-top 0.7s;
        overflow: hidden;
    }
    .panel {
        font-family: font4;
        box-sizing: border-box;
        width: 100%;
        height: 50%;
        float: left;
        background: $color-pink8;
        color: #fff;
        padding: 40px;
        /*font: 40px Satisfy;*/
        font-size: 1.8em;
        text-align: center;
        margin: 0px;
        border-radius: 0px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }
    .panel:nth-child(2) {
        background: $color-pink8;
        color: #fff;
    }
}
.view:hover .inner {
    margin-top: -200px;
}
.articleHeader{
    background-color: #444;
    padding: 15px 40px 15px 40px;
    color: #fff;
    font-family: font9;
}
.articleFootNotes{
    background-color: #444;
    padding: 40px 80px 40px 80px;
    margin-bottom: 0px;
    color: #fff;
    font-family: font9;
}

.articleFooter{
    height: 50px;
    background-color: #fff;
    padding-left: 10px;
    .node{
        background-image: url(../images/nodeLogo.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .css{
        background-image: url(../images/css.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .image{
        background-image: url(../images/image.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .font{
        background-image: url(../images/font.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .javascript{
        background-image: url(../images/javascript.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .jquery{
        background-image: url(../images/jquery.png);
        display: inline-block;
        margin-top: 15px;
        width: 102px;
        height: 25px;
    }
    .java{
        background-image: url(../images/java.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .docker{
        background-image: url(../images/docker.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .plugin{
        background-image: url(../images/plugin.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .smart{
        background-image: url(../images/smart.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .html{
        background-image: url(../images/html.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .writting{
        background-image: url(../images/writting.png);
        display: inline-block;
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
}

.panel.pink {
    background-color: $color-pink1;
}

.panel.pink:nth-child(2) {
    background: $color-pink1;
    color: #fff;
}

.itemWrapper{
    /*width: 400px;*/
    margin: 0 auto;
    margin-bottom: 25px;
    box-shadow:
    10px 0px 15px -5px rgba(0, 0, 0, 0.15),
    -10px 0px 15px -5px rgba(0, 0, 0, 0.15);
}

.itemHead  {
    position: relative;
    padding: 20px;
    background: #fff;
    font-size: 14px;
    color: #999;
}

.itemHead:before  {
    content: "";
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 10%;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.itemHead:after  {
    content: attr(data-category);
    position: absolute;
    right: 20px;
    text-align: right;
    font-style: italic;
    text-transform: uppercase;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container.articleDetail{
        padding-right: 15px;
        padding-left: 15px;
    }
    .whiteWrapper{
        padding: 40px 40px 50px 40px;
        p, ol, ul {
            font-size: 1.7em;
        }
        h1, h2{
            margin-bottom: 40px;
        }
    }
    .articleHeader{
        padding: 40px 80px 40px 80px;
    }
    .articleFootNotes{
        margin-bottom: 100px;
    }
    .view {
        height: 300px;
        .inner {

        }
        .panel {
            font-size: 2.2em;
        }
    }
    .view:hover .inner {
        margin-top: -300px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .whiteWrapper{
        padding: 60px 80px 100px 80px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
