/*
|--------------------------------------------------------------------------
| ORANGE
|--------------------------------------------------------------------------
*/
$color-orange1: #d6964c;
$color-orange2: #f39c12;
$color-orange3: #E4A629;
$color-orange4: #F39040;
$color-orange5: #ff7659;
$color-orange6: #ff805f;


/*
|--------------------------------------------------------------------------
| GREEN
|--------------------------------------------------------------------------
*/
$color-green1: #77b1a9;
$color-green2: #f4fff3;
$color-green3: #ace6d1;
$color-green4: #80cbc4;
$color-green5: #16a085; 
$color-green6: #27ae60;
$color-green7: #73A857;
$color-green8: #6DC4A6;
$color-green9: #8AA651;
$color-green10: #61c19e;
$color-green11: #52be7f;
$color-green12: #56dea7;
$color-green13: #88d8b0;
$color-green14: #6fd1b5;
$color-green15: #2ec4b6;
$color-green16: #cdeac0;

/*
|--------------------------------------------------------------------------
| BROWN
|--------------------------------------------------------------------------
*/
$color-brown1: #342224;
$color-brown2: #bdbb99;
$color-brown3: #472E32;
$color-brown4: #BDBB99;

/*
|--------------------------------------------------------------------------
| PINK
|--------------------------------------------------------------------------
*/
$color-pink1: #fb6964;
$color-pink2: #e96d65;
$color-pink3: #E66751;
$color-pink4: #CA83A5;
$color-pink5: #EF6C78;
$color-pink6: #f26c63;
$color-pink7: #f26175;
$color-pink8: salmon;
/*
|--------------------------------------------------------------------------
| RED
|--------------------------------------------------------------------------
*/
$color-red1: #e74c3c;

/*
|--------------------------------------------------------------------------
| VIOLET
|--------------------------------------------------------------------------
*/
$color-violet1: #9b59b6;
$color-violet2: #A39BCB;

/*
|--------------------------------------------------------------------------
| BLUE
|--------------------------------------------------------------------------
*/
$color-blue1: #2cbae7;
$color-blue2: #2c3e50;
$color-blue3: #246f91;
$color-blue4: #00b6de;
$color-blue5: #5ca7df;
$color-blue6: #6ec9f7;


/*
|--------------------------------------------------------------------------
| TEAL
|--------------------------------------------------------------------------
*/
$color-teal1: #00bcd4;
$color-teal2: #77B1A9;
$color-teal3: #8EB7BF;
$color-teal4: #3aada6;
$color-teal5: #6EC8C7;
$color-teal6: #3ec7c2;


/*
|--------------------------------------------------------------------------
| YELLOW
|--------------------------------------------------------------------------
*/
$color-yellow1: #E0D144;
$color-yellow2: #f3cf3f;
$color-yellow3: #f8cd36;
$color-yellow4: #F4D488;
$color-yellow5: #ffd54f;
$color-yellow6: #ffde00;


/*
|--------------------------------------------------------------------------
| GRAY
|--------------------------------------------------------------------------
*/
$color-gray1: #dde9f0;