@font-face {
    font-family: 'font1';
    src: url('fonts/abril-fatface/AbrilFatface-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font2';
    src: url('fonts/andada/Andada-Bold.otf');
    src: url('fonts/andada/Andada-BoldItalic.otf'),
         url('fonts/andada/Andada-Italic.otf'),
         url('fonts/andada/Andada-Regular.otf'),
         url('fonts/andada/AndadaSC-Bold.otf'),
         url('fonts/andada/AndadaSC-BoldItalic.otf'),
         url('fonts/andada/AndadaSC-Italic.otf'),
         url('fonts/andada/AndadaSC-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font3';
    src: url('fonts/bellota/Bellota-Bold.otf');
    src: url('fonts/bellota/Bellota-BoldItalic.otf'),
         url('fonts/bellota/Bellota-Italic.otf'),
         url('fonts/bellota/Bellota-Light.otf'),
         url('fonts/bellota/Bellota-LightItalic.otf'),
         url('fonts/bellota/Bellota-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font4';
    src: url('fonts/bree-serif/BreeSerif-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font5';
    src: url('fonts/droid-serif/DroidSerif-Bold.ttf');
    src: url('fonts/droid-serif/DroidSerif-BoldItalic.ttf'),
         url('fonts/droid-serif/DroidSerif-Italic.ttf'),
         url('fonts/droid-serif/DroidSerif-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font6';
    src: url('fonts/Fertigo Pro Regular-Desktop/Fertigo_PRO.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font7';
    src: url('fonts/Fertigo-Pro-Regular-Webfont/Fertigo_PRO-webfont.eot');
    src: url('fonts/Fertigo-Pro-Regular-Webfont/Fertigo_PRO-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Fertigo-Pro-Regular-Webfont/Fertigo_PRO-webfont.woff2') format('woff2'),
         url('fonts/Fertigo-Pro-Regular-Webfont/Fertigo_PRO-webfont.woff') format('woff'),
         url('fonts/Fertigo-Pro-Regular-Webfont/Fertigo_PRO-webfont.ttf') format('truetype'),
         url('fonts/Fertigo-Pro-Regular-Webfont/Fertigo_PRO-webfont.svg#fertigo_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font8';
    src: url('fonts/jockey-one/JockeyOne-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font9';
    src: url('fonts/montserrat/Montserrat-Black.otf');
    src: url('fonts/montserrat/Montserrat-Bold.otf'),
         url('fonts/montserrat/Montserrat-ExtraBold.otf'),
         url('fonts/montserrat/Montserrat-Hairline.otf'),
         url('fonts/montserrat/Montserrat-Light.otf'),
         url('fonts/montserrat/Montserrat-Regular.otf'),
         url('fonts/montserrat/Montserrat-SemiBold.otf'),
         url('fonts/montserrat/Montserrat-UltraLight.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font10';
    src: url('fonts/Questa Grande Regular-Webfont/2-questa_grande_regular_31-webfont.eot');
    src: url('fonts/Questa Grande Regular-Webfont/2-questa_grande_regular_31-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Questa Grande Regular-Webfont/2-questa_grande_regular_31-webfont.woff2') format('woff2'),
         url('fonts/Questa Grande Regular-Webfont/2-questa_grande_regular_31-webfont.woff') format('woff'),
         url('fonts/Questa Grande Regular-Webfont/2-questa_grande_regular_31-webfont.ttf') format('truetype'),
         url('fonts/Questa Grande Regular-Webfont/2-questa_grande_regular_31-webfont.svg#questa_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
