/*first loading directive*/
div.m-app-loading {
  	position: fixed;
  	z-index: 9999;
  	h1 {
	  	font-size: 26px ;
	  	line-height: 35px ;
	  	margin: 0px 0px 20px 0px ;
	}

	p {
	  	font-size: 18px ;
	  	line-height: 14px ;
	  	margin: 0px 0px 0px 0px ;
	}

  	div.animated-container {
	  	background-color: #333333 ;
		bottom: 0px ;
		left: 0px ;
		opacity: 1.0 ;
		position: fixed ;
		right: 0px ;
		top: 0px ;
		z-index: 999999 ;
	}
	/* Used to initialize the ng-leave animation state. */
	div.animated-container.ng-leave {
	  	opacity: 1.0 ;
	  	transition: all linear 500ms ;
		  	-webkit-transition: all linear 500ms ;
	}
	/* Used to set the end properties of the ng-leave animation state. */
	div.animated-container.ng-leave-active {
	  	opacity: 0 ;
	}

}