 /*
|--------------------------------------------------------------------------
| IMPORTS
|--------------------------------------------------------------------------
*/
@import "_fonts.scss";
@import "_loadingScreen.scss";
@import "_colors.scss";
@import "_aboutMe.scss";
@import "_article.scss";

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300|Satisfy);
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower


 /*
|--------------------------------------------------------------------------
| GENERAL
|--------------------------------------------------------------------------
*/
body, html{
  height: 100%;
}
body{
	-webkit-font-smoothing: antialiased;
    background: url('../images/patterns/pattern59.png');
}
h1{
    font-size: 1.9em;
}
h2{
    font-size: 1.7em;
}
.mainContainer{
    margin-top: 51px;
    padding-right: 0px;
    padding-left: 0px;
}
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1{
        font-size: 2.6em;
    }
    h2{
        font-size: 2.4em;
    }
    .mainContainer{
        margin-top: 100px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

@media only screen and (min-width: 1170px) {

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
