.box h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.box {
	height: 80px;
	background: rgb(255,206,84);
    display: table;
    margin-bottom: 20px;
}
.box .base{
    display: table-cell;
    vertical-align: middle;
}
.cuvant{
  width: 200px;
  border-right: 1px solid #fff;
}
.definitie{
  padding-left: 20px;
  
}
.box .buttons{
    width: 60px;
    height: inherit;
    text-align: center;
    cursor: pointer;
}
.delete{
    right: 0px;
    color: #fff;

}


.edit{
    color: #fff;
}
/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

/* start da css for da buttons */
.btnSpecial {
    padding: 6px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
    margin-left: -15px;
}

.btnSpecial:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:focus {
  outline: 0;
  text-decoration: none;
  color: #fff;
}
.blue:hover {
  background-color: #6FC6FF;
  text-decoration: none;
  color: #fff;
}

.red {
  background-color: #d9534f;
  box-shadow: 0px 5px 0px 0px #aa331D;
}

.red:focus {
  outline: 0;
  text-decoration: none;
  color: #fff;
}
.red:hover {
  background-color: #f9534f;
  text-decoration: none;
  color: #fff;
}


.green {
  background-color: #5b5;
  box-shadow: 0px 5px 0px 0px #669644;
}

.green:focus {
  outline: 0;
  text-decoration: none;
  color: #fff;
}
.green:hover {
  background-color: #5c6;
  text-decoration: none;
  color: #fff;
}
/*BUTTON*/
.md-toolbar-tools{
    background: #f2f2f2 !important;
    color: #616161;
}
.chenar {
  border: 1px solid #e1e1e1;
}
.md-header-items{
    border-bottom: 1px solid #e1e1e1;
}

/*PAGINATION*/
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 15px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 58px;
  height: 50px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #5b5;
    border-color: #5b5;
}
/*=============PAGINATION*/

/*MODAL*/
.modal-content {
    border-radius: 0px;
}
.modal-header.error{
  background-color: #d9534f;
  color: #fff;
}
.modal-header.create{
  background-color: #449d44;
  color: #fff;
}
.modal-header.edit{
  background-color: #337ab7;
  color: #fff;
}

/*MODAL*/



/*SEARCH FIELD*/
.row span {
  position: relative;
  display: inline-block;
}

.basic-slide {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px;
  transition: all .3s ease-in-out;
}

.basic-slide::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.basic-slide + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #5b5;
  transition: all .3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #fff;
}

.basic-slide:focus,
.basic-slide:active {
  color: #377D6A;
  text-indent: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.basic-slide:focus::-webkit-input-placeholder,
.basic-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.basic-slide:focus + label,
.basic-slide:active + label {
  transform: translateX(-60%);
}
/*=========SEARCH FIELD*/

.itemsPerPage{
  display: inline-block;
  width: 100px;
  padding: 10px 0 10px 0px;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 45px;
}
.itemsPerPageLabel {
    margin-left: -15px;
    margin-right: -4px;
    z-index: 10;
    left: 10px;
    top: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #5b5;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #fff;
}
.itemsPerPageLabel  + input{
    border-radius: 0px 3px 3px 0px;
}

/*MATERIAL DESIGN TABS*/
md-content {
  background-color: transparent !important;
}
md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}
md-content md-tabs md-tabs-canvas {
  background: white;
}
md-content h1:first-child {
    margin-top: 0;
}

md-content md-tabs {
    border: 1px solid #e1e1e1; 
}
md-content md-tabs md-tab-content {
    background: #f6f6f6; 
}
    md-content md-tabs md-tabs-canvas {
      background: white; }
  md-content h1:first-child {
    margin-top: 0; }
md-input-container {
  padding-bottom: 0; }
.remove-tab {
  margin-bottom: 40px; }
.demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box; }
.edit-form input {
  width: 100%; }
md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
md-tab[disabled] {
  opacity: 0.5; }
label {
  text-align: left; }
.long > input {
  width: 264px; }
.md-button.add-tab {
  transform: translateY(5px); }