<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8">
        <title>Luca Filip</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <base href="/">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
        <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
        <link rel="stylesheet" href="bower_components/textAngular/dist/textAngular.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>


    <body ng-app="sampleApp" ng-controller="MainController">


        <div class="container-fluid">

            <nav class="navbar-fixed-left navbar-minimal animate" role="navigation">
                <div class="navbar-toggler animate">
                    <span class="menu-icon"></span>
                </div>
                <ul class="navbar-menu animate">
                    <li>
                        <a ui-sref="menu1" class="animate">
                            <span class="desc animate" translate="WHO_AM_I"></span>
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="menu2" class="animate">
                            <span class="desc animate" translate="GOOD_READ"></span>
                            <span class="glyphicon glyphicon-file"></span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="menu3" class="animate">
                            <span class="desc animate" translate="PORTOFOLIO"></span>
                            <i class="fa fa-suitcase"></i>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="menu4" class="animate">
                            <span class="desc animate" translate="MY_QUOTES"></span>
                            <i class="fa fa-quote-left"></i>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="menu5" class="animate">
                            <span class="desc animate" translate="CONTACT"></span>
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="pagination" class="animate">
                            <span class="desc animate">Pagination</span>
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="textEditor" class="animate">
                            <span class="desc animate">Text Editor</span>
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li ng-if="isAuthenticated()">
                        <a ui-sref="messages.list" class="animate">
                            <span class="desc animate">Messages</span>
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li ng-if="!isAuthenticated()">
                        <a ui-sref="login" class="animate">
                            <span class="desc animate">Login</span>
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li ng-if="!isAuthenticated()">
                        <a ui-sref="signup" class="animate">
                            <span class="desc animate">Sign up</span>
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li ng-if="isAuthenticated()">
                        <a ui-sref="logout" class="animate">
                            <span class="desc animate">Logout</span>
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                    <li ng-if="isAuthenticated()">
                        <a ui-sref="profile" class="animate">
                            <span class="desc animate">Profile</span>
                            <i class="fa fa-envelope-o"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="langWrapper">
                <div class="lang">
                    <button ng-click="changeLanguage('de')" class="btnLang paper-flatten" translate="BUTTON_LANG_DE"></button>
                    <button ng-click="changeLanguage('en')" class="btnLang paper-flatten" translate="BUTTON_LANG_EN"></button>
                    <button ng-click="changeLanguage('fr')" class="btnLang paper-flatten" translate="BUTTON_LANG_FR"></button>
                    <button ng-click="changeLanguage('ro')" class="btnLang paper-flatten" translate="BUTTON_LANG_RO"></button>
                </div>  
            </div>
            <!-- Angular dynamic content -->

            <div ui-view></div>
        </div>

        <div class="m-app-loading" ng-animate-children>
            <!-- BEGIN: Actual animated container. -->
            <div class="animated-container">
                <div class="messaging">

                    <h1>
                        App is Loading
                    </h1>

                    <p>
                        Please stand by for your ticket to awesome-town!
                    </p>

                </div>
        </div>
        <!-- END: Actual animated container. -->

    </div>
    <!-- END: App-Loading Screen. -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script src="bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/satellizer/satellizer.js"></script>
        <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
        <script src="bower_components/rangy/rangy-core.js"></script>
        <script src="bower_components/rangy/rangy-classapplier.js"></script>
        <script src="bower_components/rangy/rangy-highlighter.js"></script>
        <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
        <script src="bower_components/rangy/rangy-serializer.js"></script>
        <script src="bower_components/rangy/rangy-textrange.js"></script>
        <script src="bower_components/textAngular/dist/textAngular.js"></script>
        <script src="bower_components/textAngular/dist/textAngular-sanitize.js"></script>
        <script src="bower_components/textAngular/dist/textAngularSetup.js"></script>
        <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!--***********************
        ******* TEMPLATES JS ******
        *************************** -->
        <!--     Templates      --> <script src="templates.js"></script>

        <!--***********************
        ******* ANGULAR APP *******
        *************************** -->
        <!--      App JS        --> <script src="scripts/app.js"></script>

        <!--*******************************
        ******* ANGULAR CONTROLLERS *******
        *********************************** -->
        <!-- Home  Controller   --> <script src="scripts/controllers/MainCtrl.js"></script>
        <!-- Home  Controller   --> <script src="scripts/controllers/HomeCtrl.js"></script>
        <!-- Menu 1 Controller  --> <script src="scripts/controllers/Menu1Ctrl.js"></script>
        <!-- Menu 2 Controller  --> <script src="scripts/controllers/PaginationCtrl.js"></script>
        <!-- Menu 3 Controller  --> <script src="scripts/controllers/TextEditorCtrl.js"></script>
        <!-- Menu 4 Controller  --> <script src="scripts/controllers/MessagesCtrl.js"></script>
        <!-- Menu 5 Controller  --> <script src="scripts/controllers/ContactCtrl.js"></script>
        <!-- Login Controller   --> <script src="scripts/controllers/LoginCtrl.js"></script>
        <!-- Signup Controller  --> <script src="scripts/controllers/SignupCtrl.js"></script>
        <!-- Logout Controller  --> <script src="scripts/controllers/LogoutCtrl.js"></script>
        <!-- Profile Controller --> <script src="scripts/controllers/ProfileCtrl.js"></script>
        <!-- Profile Controller --> <script src="scripts/controllers/MessageViewCtrl.js"></script>
        <!-- Profile Controller --> <script src="scripts/controllers/QuotesCtrl.js"></script>

        <!-- Profile Controller --> <script src="scripts/controllers/admin/AdminLoginCtrl.js"></script>



        <!--****************************
        ******* ANGULAR SERVICES *******
        ******************************** -->
        <!--  Suedeza Service   --> <script src="scripts/services/HomeService.js"></script>
        <!--  Auth Service      --> <script src="scripts/services/AuthenticationService.js"></script>
        <!--  Contact Service   --> <script src="scripts/services/ContactService.js"></script>
        <!--  Content Service   --> <script src="scripts/services/ContentService.js"></script>
        <!--Text Editor Service --> <script src="scripts/services/TextEditorService.js"></script>
        <!--Text Editor Service --> <script src="scripts/services/QuotesService.js"></script>


        <!--****************************
        ****** ANGULAR DIRECTIVES ******
        ******************************** -->
        <!--  Suedeza Service   --> <script src="scripts/directives/firstLoad.js"></script>

        <!-- endbuild -->
    </body>
</html>