<section class="aboutMe">
    <div>
		<!-- (angular-busy): div that shows when loading the data -->
        <div cg-busy="myPromise"></div>
    </div>
    <div class="container">
	    <div class="row">
		    <div class="col-md-10">
		    	<div class="aboutMeWrapper col-md-12 col-md-offset-1">
		    		<div class="aboutMeTitle" translate="ABOUT_ME_TITLE">
		    			A few words about me
		    		</div>
		    		<div class="aboutMeContent">
		    			<p>Hi. I'm Luca Filip, a digital designer working in web development. If you have a project that needs some creative injection then that’s where I come in! </p>
		    			<p>I am a professional web designer dedicated to quality and trustworthy results. My goal is to ensure beautiful, usable interfaces through handcrafted semantic code that produces a satisfying experience for every user.</p>
		    			<p>I am an adherent to clean graphical implementation.</p>
		    		</div>

		    		<hr>

		    		<section id="cd-timeline" class="cd-container">

						<div class="cd-timeline-block green">
							<div class="cd-timeline-img">
								<i class="fa fa-graduation-cap"></i>
							</div>
							<div class="cd-timeline-content">
								<h2>Şcoala Generală</h2>
								<p><em>"Iulia-Hasdeu"</em> </p>
								<span class="cd-date">September 1997 - June 2001</span>
							</div>
						</div>

						<div class="cd-timeline-block green">
							<div class="cd-timeline-img">
								<i class="fa fa-graduation-cap"></i>
							</div>
							<div class="cd-timeline-content">
								<h2>Liceul</h2>
								<p><em>"Marin-Coman"</em></p>
								<span class="cd-date">September 2001 - June 2005</span>
							</div>
						</div>

						<div class="cd-timeline-block green">
							<div class="cd-timeline-img cd-picture">
								<i class="fa fa-university"></i>
							</div> <!-- cd-timeline-img -->
							<div class="cd-timeline-content">
								<h2>Universitatea</h2>
								<p><em>"Dunărea de Jos"</em></p>
								<span class="cd-date">September 2006 - June 2010</span>
							</div>
						</div>

						<div class="cd-timeline-block yellow">
							<div class="cd-timeline-img yellow">
								<i class="fa fa-suitcase"></i>
							</div> <!-- cd-timeline-img -->

							<div class="cd-timeline-content">
								<h2>Altfactor</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
								<span class="cd-date">Feb 14</span>
							</div> <!-- cd-timeline-content -->
						</div> <!-- cd-timeline-block -->

						<div class="cd-timeline-block yellow">
							<div class="cd-timeline-img">
								<i class="fa fa-suitcase"></i>
							</div> <!-- cd-timeline-img -->

							<div class="cd-timeline-content">
								<h2>Altfactor</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
								<span class="cd-date">Feb 18</span>
							</div> <!-- cd-timeline-content -->
						</div> <!-- cd-timeline-block -->

						<div class="cd-timeline-block yellow">
							<div class="cd-timeline-img ">
								<i class="fa fa-graduation-cap"></i>
							</div> <!-- cd-timeline-img -->

							<div class="cd-timeline-content">
								<h2>Final Section</h2>
								<p>This is the content of the last section</p>
								<span class="cd-date">Feb 26</span>
							</div> <!-- cd-timeline-content -->
						</div> <!-- cd-timeline-block -->
					</section> <!-- cd-timeline -->
		    	</div>

		    </div>
	    </div>
    </div>
</section>