<section class="container aboutMe whiteWrapper">
    <div>
		<!-- (angular-busy): div that shows when loading the data -->
        <div cg-busy="myPromise"></div>
    </div>
    <div class="row">
	    <div class="col-md-10">
	    	<div class="col-md-12 col-md-offset-1">
	    		<h2 class="aboutMeTitle" translate="ABOUT_ME_TITLE">
	    			A few words about me
	    		</h2>
	    		<div class="aboutMeContent">
	    			<p>Hi. I'm Luca Filip, a digital designer working in web development. If you have a project that needs some creative injection then that’s where I come in! </p>
	    			<p>I am a professional web designer dedicated to quality and trustworthy results. My goal is to ensure beautiful, usable interfaces through handcrafted semantic code that produces a satisfying experience for every user.</p>
	    			<p>I am an adherent to clean graphical implementation.</p>
	    		</div>

	    		<hr>

	    		<section id="cd-timeline" class="cd-container">

					<div class="cd-timeline-block green">
						<div class="cd-timeline-img">
							<i class="fa fa-graduation-cap"></i>
						</div>
						<div class="cd-timeline-content">
							<h2 class="educationType">Şcoala Generală</h2>
							<p class="schoolName">"Iulia-Hasdeu"</p>
							<span class="cd-date">September 1997 - June 2001</span>
						</div>
					</div>

					<div class="cd-timeline-block green">
						<div class="cd-timeline-img">
							<i class="fa fa-graduation-cap"></i>
						</div>
						<div class="cd-timeline-content">
							<h2 class="educationType">Liceul</h2>
							<p class="schoolName">"Marin-Coman"</p>
							<span class="cd-date">September 2001 - June 2005</span>
						</div>
					</div>

					<div class="cd-timeline-block green">
						<div class="cd-timeline-img cd-picture">
							<i class="fa fa-university"></i>
						</div> <!-- cd-timeline-img -->
						<div class="cd-timeline-content">
							<h2 class="educationType">Universitatea</h2>
							<p class="schoolName">"Dunărea de Jos"</p>
							<span class="cd-date">September 2006 - June 2010</span>
						</div>
					</div>

					<div class="cd-timeline-block yellow">
						<div class="cd-timeline-img yellow">
							<i class="fa fa-suitcase"></i>
						</div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">
							<h2 class="educationType">Universitatea</h2>
							<p class="schoolName">"Dunărea de Jos"</p>
							<span class="cd-date">September 2006 - June 2010</span>
						</div>
					</div> <!-- cd-timeline-block -->

				</section> <!-- cd-timeline -->
	    	</div>

	    </div>
    </div>
</section>
