<div class="container">
	<section>
		<h3 class='title' translate="WELCOME"></h3>
	</section>

	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="article in articles">
			<div class="itemWrapper">
			<a ui-sref="#/article/{{articles.id}}">
				<div class="itemHead" data-category="{{article.category}}">{{article.author}}</div>
				<div class="view">
					<div class="inner">
						<div class="panel noselect">{{article.title}}</div>
						<div class="panel noselect">read more...</div>
					</div>
				</div>
			</a>
			</div>
		</div>
	<!-- Profile Controller 
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="itemWrapper">
			<a ui-sref="#/article/{{articles.id}}">{{phone.name}}
				<div class="itemHead" data-category="2cents">This is a header.</div>
				<div class="view">
					<div class="inner">
						<div class="panel noselect">Cum iti faci mai mult timp?</div>
						<div class="panel noselect">read more...</div>
					</div>
				</div>
			</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

			<div class="itemWrapper">
				<div class="itemHead" data-category="2cents">This is a header.</div>
				<div class="view">
					<div class="inner">
						<div class="panel noselect pink">Cum iti faci mai mult timp?</div>
						<div class="panel noselect pink">read more...</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="itemWrapper">
				<div class="itemHead" data-category="2cents">This is a header.</div>
				<div class="view">
					<div class="inner">
						<div class="panel noselect">Cum iti faci mai mult timp?</div>
						<div class="panel noselect">read more...</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="itemWrapper">
				<div class="itemHead" data-category="2cents">This is a header.</div>
				<div class="view">
					<div class="inner">
						<div class="panel noselect">Cum iti faci mai mult timp?</div>
						<div class="panel noselect">read more...</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
</div>