<div class="container">
	<section>
	    <div class="whiteWrapper">
	        <h1>Create Article</h1>
	        <form name="form" role="form" ng-submit="save()" novalidate>
				<div class="form-group">
			    	<label for="articleTitle">Title</label>
			    	<input type="text" class="form-control" id="articleTitle" placeholder="Article title" ng-model="articleTitle">
				</div>
				<div class="form-group">
			    	<label for="articleCategory">Category</label>
			    	<input type="text" class="form-control" id="articleCategory" placeholder="Article Category" ng-model="articleCategory">
				</div>
				<div class="form-group">
					<label for="selectArticleIcons">Icons</label>
						<select multiple class="form-control" id="selectArticleIcons" ng-model="selectArticleIcons">
							<option value="angular">angular</option>
							<option value="node">node</option>
							<option value="css">css</option>
							<option value="image">image</option>
							<option value="font">font</option>
							<option value="html">html</option>
							<option value="javascript">javascript</option>
							<option value="json">json</option>
							<option value="jquery">jquery</option>
							<option value="plugin">plugin</option>
							<option value="java">java</option>
							<option value="maven">maven</option>
							<option value="gradle">gradle</option>
							<option value="spring">spring</option>
							<option value="linux">linux</option>
							<option value="virtualbox">virtualbox</option>
							<option value="docker">docker</option>
							<option value="smart">smart</option>
							<option value="writting">writting</option>
					</select>
				</div>
				<div class="form-group">
			    	<label for="articleAuthor">Article Author</label>
			    	<input type="text" class="form-control" id="articleAuthor" placeholder="Article Author" ng-model="articleAuthor">
				</div>
				<div class="form-group">
			    	<label for="articleCategory">Link to original post</label>
			    	<input type="text" class="form-control" id="originalPost" placeholder="Original post" ng-model="originalPost">
				</div>
				<div class="form-group">
			    	<label for="date">Date</label>
			    	<input type="text" class="form-control" id="date" placeholder="Date" ng-model="date">
				</div>
		        <text-angular name="htmlcontent" ng-model="htmlcontenttwo">
		            <p>Type <b>here</b></p>
		        </text-angular>
				<br>
		        <button class="btn btn-primary">Save</button>
			</form>
	    </div>
	</section>
</div>
