<section>
	<div>
		<h3 class='title'>{{WelcomeMessage}}</h3>

		<p translate>PASSED_AS_TEXT</p>
		<p translate="PASSED_AS_ATTRIBUTE"></p>
		<p translate>{{ 'PASSED_AS_INTERPOLATION' }}</p>
		<p translate="{{ 'PASSED_AS_INTERPOLATION' }}"></p>
		<p translate="VARIABLE_REPLACEMENT" translate-values="{ name: 'PascalPrecht'}"></p>
		<p translate="VARIABLE_REPLACEMENT" translate-value-name="PascalPrecht"></p>
	</div>
	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Dropdown Example
		<span class="caret"></span></button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
		<li role="presentation" class="divider"></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
		</ul>
	</div>
</section>