<div id="container">
	<section>
	    <div>
	        <h3 class='title' translate="WELCOME"></h3>
	    </div>

	    <div></div>
		Node.JS Email application
		<div>
		<h1>Mailer In Node.JS</h1>
		<input id="to" ng-model="to" type="text" placeholder="Enter E-mail ID where you want to send" />
		<input id="subject" ng-model="subject" type="text" placeholder="Write Subject" />
		<textarea id="content" ng-model="text" cols="40" rows="5" placeholder="Write what you want to send"></textarea>
		<button id="send_email">Send Email</button>
		<span id="message"></span>
	</section>	
</div>