<div class="container">
	<section>
	    <div>
	        <h1 translate="EDITOR">Editor</h1>
	        <form name="form" role="form" ng-submit="save()" novalidate>
		        <text-angular name="htmlcontent" ng-model="htmlcontenttwo">
		            <p>Any <b>HTML</b> we put in-between the text-angular tags gets automatically put into the editor if there <strong style="font-size: 12pt;"><u><em>is not</em></u></strong> a value assigned to the ngModel.</p>
		            <p>If there is a value assigned to the ngModel, it replaces any html here. To see this, uncomment the line at the bottom of demo.html</p>
		        </text-angular>
		        <button class="btn btn-primary">Save</button>
			</form>
	        <h1>Bound with ta-bind, our internal html-binding directive</h1>
	         <div ta-bind="text" ng-model="htmlcontenttwo" ta-readonly='disabled'></div>
	    </div>
	</section>
</div>